* {
  box-sizing: border-box;
}

:root {
  --main-display: grid;
  --main-padding: 10px;
  --main-outline: 1px solid rgba(0, 0, 0, 0.767);
  --main-border-radius: 5px;
  --main-margin-bottom: 15px;
}

.preview-main-container {
  display: grid;
  background-color: rgba(0, 0, 0, 0.767);
  margin: 10px;
  grid-template-rows: 200px 1fr;
  overflow-y: scroll;
  height: 100vh;
}

.preview-content-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.side-content-container {
  grid-column: 1/2;
  background-color: rgb(35, 35, 143);
  color: white;
  padding: var(--main-padding);
  border-radius: var(--main-border-radius);
  outline: var(--main-outline);
  border-bottom: var(--main-margin-bottom);
}

a {
  color: white;
  text-decoration: none;
}

.main-content-container {
  display: grid;
  grid-template-rows: min-content min-content;
  border-radius: var(--main-border-radius);
  outline: var(--main-outline);
  border-bottom: var(--main-margin-bottom);
}

.preview-profile-container,
.preview-experience-container,
.preview-education-container {
  background-color: white;
  padding: var(--main-padding);
  border-radius: var(--main-border-radius);
  outline: var(--main-outline);
  border-bottom: var(--main-margin-bottom);
}

h1 {
  border-bottom: 1px solid black;
}

h2 {
  border-bottom: 1px solid white;
}

li {
  list-style-type: circle;
}

.preview-experience-content {
  border-bottom: 1px solid black;
}

.summary {
  white-space: pre-wrap;
  padding-bottom: var(--main-padding);
}
