* {
  box-sizing: border-box;
}

:root {
  --main-display: grid;
  --main-padding: 1rem;
  --main-outline: 1px solid rgba(0, 0, 0, 0.767);
  --main-border-radius: 0.5rem;
  --main-margin-bottom: 1.5rem;
}

.preview-profile-container,
.preview-experience-container,
.preview-education-container {
  background-color: white;
  padding: var(--main-padding);
  border-radius: var(--main-border-radius);
  outline: var(--main-outline);
  border-bottom: var(--main-margin-bottom);
  overflow-wrap: break-word;
  grid-template-columns: 1fr;
  width: 100%;
}

.preview-content-container {
  display: flex;
  flex-wrap: wrap;
}

.side-content-container {
  flex-basis: 10%;
  flex-grow: 1;
  max-width: 100%;
  background-color: rgb(35, 35, 143);
  color: white;
  padding: var(--main-padding);
  border-radius: var(--main-border-radius);
  outline: var(--main-outline);
  border-bottom: var(--main-margin-bottom);
}

a {
  color: white;
  text-decoration: none;
}

.contact-info > p,
.contact-info > a {
  overflow-wrap: break-word;
}

.main-content-container {
  flex-grow: 1;
  flex-basis: 60%;
  overflow: hidden;
  grid-template-rows: min-content min-content;
  border-radius: var(--main-border-radius);
  border-bottom: var(--main-margin-bottom);
}

h1 {
  font-size: x-large;
  border-bottom: 1px solid black;
}

h2 {
  border-bottom: 1px solid white;
}

li {
  list-style-type: circle;
}

.preview-experience-content {
  border-bottom: 1px solid black;
}

.summary {
  white-space: pre-wrap;
  padding-bottom: var(--main-padding);
}
